.text3 {
    padding: 4%;
    pre {
        font-size: $twentyfive;
        display: flex;
        justify-content: center;
        margin-right: 345px;
        font-family: $verdana;
        position: relative;
        left: 30px;
        p {
            margin-top: 32px;
            margin-left: -670px;
        }
    }
}