$lblue: #40b9ed;
$llblue: #37b9d3;
$w: #fff;
$darkness: #000;
$twenty: 20px;
$twentyfive: 25px;
$thirdy: 30px;
$thirtyone: 31px;
$verdana: Verdana, Geneva, Tahoma, sans-serif;
$dark: #202020;
$da: #666;
$facebook: #3b5998;
$twitter: #00ACEE;
$linkedin: #0E76A8;
$instagram: #3F729B;